
body {
    font-family: 'Brush Script MT', cursive;
    
  }
  h1{
    font-family: 'Brush Script MT', cursive;
    
  }
  .container{
    font-family: 'Brush Script MT', cursive;
    color: blue;
    padding: 30px;
    
  }

  